/* Basic Reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container{
  display: block;
  text-align: center;
  overflow: hidden;
}

/* Site Styles */

body {
  font-family: 'Oxygen', sans-serif;
}

h1{
  font-family: 'Anton', sans-serif;
}

/* Hero Section */

.navbar{
  position: relative;
}

.logo{
  position: absolute;
  max-width: 15%;
  margin: 5%;
}
.section{
  min-height: 40vh;
  color: #2980b9;
}

.section:nth-child(2){
  min-height: 60vh;
  background: #2980b9;
  color:#fff;
}

.heroTitle{
  font-size:4.5rem;
  margin-top:5%;
  padding-top:15%;
  color: #fff;
  text-shadow: 0px 0px 12px #303030;
}

.section:nth-child(2) .heroTitle {
  color:#2980b9;
}

.heroSubtitle, .heroContent {
  margin: 10% 0;
}

.heroSubTitle {
  font-size: 1rem;
}

.heroContent, .heroBtn {
  font-size: .75rem;
}

.heroBtn{
  background: none;
  padding: 5px 20px;
  color: inherit;
  border-radius: 25px;
  box-shadow: 0px 0px 12px #303030;
}

@media screen and (min-width:768px) {

  .container{
    min-height: 100vh;
  }

  .logo {
    width: 10%;
  }

  .section {
    min-height: 40vh;
  }

  .section:nth-child(2) {
    min-height:60vh;
  }

  .heroTitle {
    font-size: 8rem;
    padding-top: 5%;
  }
  
  .heroSubtitle, .heroContent {
  margin: 5% 0;
}
  
  .heroSubTitle{
    font-size: 1.5rem;
  }
  .heroContent, .heroBtn{
    font-size: 1rem;
  }
}

@media screen and (min-width:1024px) {
  .logo{
    width: 5%;
  }

  .section {
    width:50%;
    height:100vh;
    padding-top: 10%;
    float: left;
  }

  .section:nth-child(2) {
    width:50%;
  }
}